/* 
  Write your styles/CSS for App.js here and import into the component that you need 
  IF you'd like to attempt to use less you'll have to research how to do this with Create React App
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box
}

#root {
  width: 575px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  width: 575px;
}

.header-container img {
  width: 45px;
  height: 48px;
  margin: 10px 5px;
}

.title-section {
  width: 520px;
  margin-bottom: 15px;
}

.title {
  display: flex;
  line-height: 2rem;
  line-height: 2rem;
}

.title h1{
  font-weight: 600;
}

.title p{
  font-size: .8rem;
  margin: 0 10px;
  color: gray;
}

.card-container {
  width: 520px;
  margin-left: 55px;
  border-radius: 5px;
  border: 1px solid lightgray; 
}

.background-img {
  width: 520px;
  height: 300px;
  background-image: url(https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 10px
}

.card-content h2{
  font-weight: 600;
  line-height: 2rem;
}

.website {
  line-height: 2rem;
  color: gray;
}